.keys-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Roboto", Helvetica;
  padding-top:80px;
}

.keys-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  color: #2455C5;
  font-family: "Roboto", Helvetica;
}

.key-card {
  background-color: #f3fafe;
  border: 1px dashed #D3D3D3;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 900px;
}

.key-card p {
  font-size: 16px;
  margin-top: 0px;
}

.keys-cards-button{
  font-size: 16px;
  cursor: pointer;
  background-color: #f3fafe;
  border: 1px dashed #D3D3D3;
  padding:5px;
  margin:2px;
  border-radius:5px;
}


.repos-button-container {
  width: 100%;
}

.repos-button {
  margin-left: auto;
  width: 15%;
  border: none;
  background-color: #2455C5;
  padding: 10px;
  border-radius: 20px;
  color: white;
}

.apikeyinput{
  border: 1px dashed #D3D3D3;
  border-radius:5px;
  width:70%;
  margin:10px 10px 10px 0px;
}

.ratesinput{
border: 1px dashed #D3D3D3;
  border-radius:5px;
  width:45px;
  margin:0px 10px 0px 10px;
}