.bottombar{
display: flex;
width: 100%;
}

.chatsearchbarcontainer {
  display: flex;
  flex-direction: row;
  padding:5px;
  height: 100%;
  border-radius: 6px;
  background-color: #FFFFFF;
  width: 100%;
  margin-left: 20%;
  margin-right: 5%;
}
.GoButtonChat {
  border: none;
  font-size: 20px;
  background: #FFFFFF;
}

.NewChatButton {
  border : solid;
  border-color:  #2455C5;
  background: none;
  font-size: 15px;
  border-radius: 6px;
  width: 200px;
  color: #2455C5;
  padding: 0px;
  border-width: 1px;
}

.NewChatButton:hover {
  background: #2455C5;
  color: #FFFFFF;
  box-shadow: 0 0 5px 0px #D3D3D3;
}

.searchinput {
   width: 100%;
   font-size: 15px;
   background: #FFFFFF;
   border-radius: 6px;
   border: none;
   outline: none;
   margin: 1px;
}