.loading-ring {
  display: flex;
  justify-content: center;
  align-items: center;
}


.logbox {
  display: flex;
  text-align: center;
}

.loading-cancel{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 20%;
  text-align: center;
  color: #696969;
  border-color:  #696969;
  background: none;
  border-radius: 5px;
  border-style:solid;
}

.loading-cancel:hover{
  box-shadow: 0 0 5px 0px #D3D3D3;
  cursor: pointer;
  background: black;
  color:white;
  border-color:  black;
}
