.loading-ring {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.logbox {
  display: flex;
  position: absolute;
  top: 50%;
  right: 15%;
  width: 70%;
  text-align: center;
}

.loading-cancel{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 20%;
  text-align: center;
  color: #696969;
  border-color:  #696969;
  background: none;
  border-radius: 5px;
  border-style:solid;
}

.loading-cancel:hover{
  box-shadow: 0 0 5px 0px #D3D3D3;
  cursor: pointer;
  background: black;
  color:white;
  border-color:  black;
}
