.container {
  width: 100%;
  padding-top: 10px;
}

table {
  border-collapse: collapse;
  border: 1px solid red;
  width: 50%;
  float: left;
}

tr th {
  font-size: 18px;
  text-align: left;
}

tr td {
  text-align: centre;
}

.lineNumber {
        background-color: #f2f2f2;
    }


.newcode {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        font-size: 15px;
    }


.oldcode {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        font-size: 15px;
    }