nav {
  display: flex;
  background-color: #2455C5;
  margin: 0;
}

.search input {
   position: absolute;
   width: 700px;
   height: 30px;
   left: 228px;
   background: #FFFFFF;
   border-radius: 10px;
}

.search button {
  position: absolute;
  width: 70px;
  height: 39px;
  left: 940px;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  align-items: center;
  color: #000000;
  border-radius: 10px;
}

.logo{
  width: 187px;
  height: 40px;
  left: 25px;
  top: 82px;
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}