nav {
  display: flex;
  background-color: #2455C5;
  margin: 10;
}

.logo{
  width: 21%;
  font-family: "Roboto", Helvetica;
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.searchbarcol{
  width: 78%;
}