.userTextCol {
  width: 80%;
}
.userPromptContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.userPicContainer {
  margin-right: 10px;
  float: left;
}

.userPromptext{
  margin-left: 10%;
  float: left;
}

.editUserPromptContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  float: left;
  width: 80%;
  margin-left: 10%;
}

.editUserPromptContainer input {
  width:100%;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.saveButton{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.cancelButton{
    background-color: #f44336;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.editOptions {
  display: flex;
  float: right;
}

.editIcon {
  margin-left: 10px;
  cursor: pointer;
}

.retryIcon {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}


.avatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 5px;
}
