
.container{
width: 100%;
}

.logoContainer {
  width: 100%;
  position: absolute;
  top: 15%;
  text-align: center;
  font-family: "Roboto", Helvetica;
  font-style: italic;
  font-weight: 700;
  color: #2455C5;
  margin-bottom: 30px;
  font-size: 60px;
}


.welcomesearchrow {
  display: flex;
  position: absolute;
  top: 30%; /* Adjust the value to position the form as desired */
  width: 60%;
  height: 30vh; /* Set the height to 20% of the viewport height */
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 10px;
  border: 1px solid #D3D3D3;
}

.welcomesearchrow:focus-within{
box-shadow: 0 0 5px 0px #D3D3D3;
}

.subText{
width: 100%;
position: absolute;
top: 42%;
text-align: center;
font-size: 25px;
font-family: "Roboto", Helvetica;
font-weight: 700;
}

.bottomText{
width: 100%;
position: absolute;
top:70%;
text-align: center;
font-size: 15px;
font-size: 15px;
font-family: "Roboto", Helvetica;
}

.bottomText a{
color: black;
text-decoration: none;
}

.projectinfo{
width: 100%;
position: absolute;
top: 80%;
text-align: center;
font-size: 20px;
font-family: "Roboto", Helvetica;
font-weight: 700;
white-space: pre;
}

.searchbarcontainer {
  display: flex;
  padding:5px;
  height: 100%;
}

.mainsearchinput {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background: none;
  outline: none;
  border: none;
  border-radius: 6px;
}


.mainsearchinput::placeholder {
  text-align: center; /* Align the placeholder text to the center */
  vertical-align: middle; /* Align vertically within the text box */
  line-height: 30px; /* Set the line height equal to the height of the text box */
}


.searchbarcol{
display: flex;
flex-direction: column;
width: 100%;
padding: 20px;
}

.gobuttoncol{
font-size:20px;
padding-top: 7px;
padding-right:  10px;
}

.searchbarrow{
display: flex;
flex-direction: column;
}

.GoButton {
  border: none;
  background: #FFFFFF;
  font-size: 20px;
  background: none;
}

.userProfileContainer{
position: absolute;
top: 2%;
right: 2%;
}