table {
  border-collapse: collapse;
}

.codeline{
    padding: 2px;
    font-size: 15px;
    font-family: monospace;
}

.lineNumber {
    background-color: #EFFFE3;
}

.tr .th {
  text-align: left;
  background-color: #F5F3F3;
}

.tr ,td {
  background-color: #F5F3F3;
}