
.avatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 5px;
}

.codediffcontainer{
width: 85%;
padding: 10px;
}

.ResponseContainer.open {
  /* Reduced size when side container is open */
  width: 80%;
}
.responsePicContainer.open {
  /* Reduced size when side container is open */
  width: 10%;
}

.ResponseContainer{
width: 100%;
transition: width 0.2s ease;
box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
background-color: #F0F0F0;
display: flex;
}

.codediff{
font: 16px Proxima Nova, sans-serif;
text-align: justify;
}

.responsePicContainer{
  width: 9%;
  transition: width 0.2s ease;
text-align: center;
padding-top: 20px;
font: 25px Proxima Nova, sans-serif;
}

.files{
font: 17px Proxima Nova, sans-serif;
color: #00308F;
font-weight: 600;
text-align: right;
}