
.avatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 5px;
}

.codediffcontainer{
width: 80%;
padding: 20px 10px;
}


.ResponseContainer{
width: 100%;
transition: width 0.2s ease;
box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
background-color: #F0F0F0;
display: flex;
}

.codediff{
font: 16px Proxima Nova, sans-serif;
text-align: justify;
}

.responsePicContainer{
  width: 15%;
  transition: width 0.2s ease;
text-align: center;
padding-top: 20px;
font: 25px Proxima Nova, sans-serif;
}

.files{
font: 16px Proxima Nova, sans-serif;
color: #00308F;
font-weight: 500;
text-align: right;
}