.sidenav {
    margin-top:48px;
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 9999;
    top: 0;
    background-color: #fffefe; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; 
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    font-size: 10px;
    color: #ead7d7;
    display: block;
    transition: 0.1s
}
.filename{
    color: white;
    background-color:black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 12px;
    text-align: center;
    padding:5px;
    width: 80%;
    word-wrap: break-word;
}
::-webkit-scrollbar {
    display: none;
  }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.bg{
    background-color: #f0f0f0;
}
/* Position and style the close button (top right corner) */
.sidenav .closedbtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 12px;
    margin-left: 50px;
    border:none;
    padding:5px;
}
.sidenav {
    right: 0;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 12px;}
}
.referance{
    margin-top: -55px ;
    display: flex;
    justify-content: center;

}

.side-spacer{
height: 48px;
}