.container{
width: 100%;
}
.row1{
width: 100%;
}

.row2{
width: 100%;
}

.searchbarrow{
position: fixed;
bottom: 5px;
right: 10%;
width: 80%;
}

.footer{
width: 100%;
background-color: #f1f1f1;
height: 50px;
}