.dropdown {
  position: relative; /* set parent element to relative */
  display: inline-block;
  float: right;
}

.userProfileButton{
border: none;
background: none;
font-size: 30px;
text-align: right;
}

.drop-down-list {
  list-style: none;
  background-color: #F0F0F0;
  font-family: "Roboto", Helvetica;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  font-size: 15px;
  width: 180px;
}

.drop-down-bullets {
  padding: 8px;
  cursor: pointer;

white-space: pre;
}

.drop-down-bullets:hover {
  background-color: #2455C5;
  color: #FFFFFF;
  box-shadow: 0 0 5px 0px #D3D3D3;
}
